<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Pages</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br>

<% if ( count  > 0) { %>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Product
            </th>
            <th>Price</th>
            <td>Category</td>
            <td>Product</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>

        <% products.forEach(function(product) { %>
        <tr>
            <td>
                <%= product.title %>
            </td>
            <td>
                $
                <%= parseFloat(product.price).toFixed(2) %>
            </td>
            <td>
                <%= product.category %>
            </td>

            <td>
                <% if (product.image == "") { %>

                <img src="/images/noimage.png" alt="" class="product-img">
                <% } else { %>
                <img src="/product_images/<%= product._id %>/<%= product.image %>" alt="" class="product-img">
                <% } %>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>

            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else { %>

<h3>No products</h3>

<% } %>

<%- include('../_layouts/adminfooter') %>